<div class="container">
  <div class="jumbotron">
    <h1>Secrets</h1>

    <div class="container">
      <% @secrets.each do |s| %>
      <h2><%= s.content %></h2>
      <h3><%= s.likes.count %> likes</h3>
      <% if s.user == current_user %>
      <form action = "/secrets/<%= s.id %>" method = "post">
  		   <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  			<input type="hidden" name="_method" value="delete">
  			<input type = 'submit' value = "Delete">
  		</form>
      <% end %>
      <% unless s.users.include?(current_user) %>
      <form class="" action="/likes" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="like[secret_id]" value="<%= s.id %>">
        <input type="submit" name="Like" value="Like">
      </form>
      <% else %>
      <form action="/likes/<%= Like.where(user: current_user, secret: s).first.id %>" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" name="Unlike" value="Unlike">
      </form>

        <% end %>
      <% end %>
    </div>

  </div>
</div>
